# Power BI Credentials
MS_PBI_TENANT_ID=your-tenant-id
MS_PBI_CLIENT_ID=your-client-id
MS_PBI_CLIENT_SECRET=your-client-secret
MS_PBI_USERNAME=your-admin-email
MS_PBI_PASSWORD=your-password

# Server Config
PORT=3000
